<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.select :customer_id, Customer.all.pluck(:email,:id),{prompt:'Select Customer'},{class: "form-control"}%>
  </div>

  <div class="mb-3">
      <%= form.label :order_date, class: "form-label" %>
      <%= form.text_field :order_date, class: "form-control" %>
  </div>
        
  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, ['NEW', 'PAID', 'CANCELED'], {prompt:'Select Status'}, {class: "form-control"} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
