<p style="color: green"><%= notice %></p>

<h1>Orders <%= link_to "New order", new_order_path, class: "btn btn-success" %> </h1>

<div class="table">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Order Menu</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.order_date %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= order.status %></td>
          <td><%= link_to "Show this order", order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
